<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.modules.dao.wx.MyArticleDao">
	<insert id="create" parameterType="MyArticle" useGeneratedKeys="true"
		keyProperty="id">
		insert into wx_article
		(title,description,picurl,detail,flag,type,url,content,create_name,create_time)
		values
		(#{title},#{description},#{picUrl},#{detail},#{flag},#{atype},#{Url},#{content},#{createName},#{createTime})
	</insert>
	<delete id="deleteById" parameterType="long">
		delete from wx_article
		where article_id=#{id}
	</delete>

	<select id="findArticleByContent" parameterType="String"
		resultType="MyArticle">
		select
		wa.article_id as article_id,
		wa.content as content
		from wx_article AS wa
		where wa.content=#{content}
	</select>
	<select id="findById" parameterType="long" resultType="MyArticle">
		select
		wa.article_id as id,
		wa.title as Title,
		wa.description as Description,
		wa.picurl as PicUrl,
		wa.type as atype,
		wa.url as Url,
		wa.detail as detail,
		wa.content as content,
		wa.create_name as createName,
		wa.create_time as createTime,
		wa.update_name as updateName,
		wa.update_time as updateTime
		from wx_article AS wa
		where wa.article_id=#{id}
	</select>
	<update id="update" parameterType="MyArticle">
		update wx_article
		<set>
			<if test="Title!=null and Title!=''">title=#{Title},</if>
			<if test="Description!=null and Description!=''">description=#{Description},</if>
			<if test="PicUrl!=null and PicUrl!=''">picurl=#{PicUrl},</if>
			<if test="Url!=null and Url!=''">url=#{Url},</if>
			<if test="detail!=null and detail!=''">detail=#{detail},</if>
			<if test="content!=null and content!=''">content=#{content},</if>
			<if test="updateName!=null and updateName!=''">update_name=#{updateName}</if>
		</set>
		where article_id=#{id}
	</update>

	<!-- 分页查询所有单图文 -->
	<select id="findAllArticleByPage" parameterType="map"	resultType="MyArticle" useCache="false" flushCache="true">
		SELECT
		wa.article_id as id,
		wa.title as Title,
		wa.description as description,
		wa.picurl as picurl,
		wa.url as url,
		wa.content as content,
		wa.create_name as createName,
		wa.create_time as createTime,
		wa.update_name as updateName,
		wa.update_time as updateTime
		FROM
		wx_rel_article_account AS wraa,wx_article AS wa
		where wraa.article_id=wa.article_id and wraa.mutiarticle_id=0 
		and	wraa.account_id=#{accountId} and wa.title is not null
		<if test="lowerLimit!=null and upperLimit != null">
			limit #{lowerLimit},#{upperLimit}
		</if>
	</select>

	<select id="findCountByParam" parameterType="map" resultType="long">
		select count(*) FROM
		wx_rel_article_account AS wraa,wx_article AS wa
		where wraa.article_id=wa.article_id and wraa.mutiarticle_id=0 and
		wraa.account_id=#{accountId} 
		and wa.title is not null
	</select>

	<!-- 查询多图文 -->
	<select id="findAllManyArticleByPage" parameterType="map"	resultType="MyArticle" useCache="false" flushCache="true">
		SELECT
		wa.article_id as id,
		wa.title as Title,
		wa.description as description,
		wa.picurl as PicUrl,
		wa.url as url,
		wa.flag as flag,
		wa.create_name as createName,
		wa.create_time as createTime,
		wa.update_name as updateName,
		wa.update_time as updateTime
		FROM
		wx_rel_article_account AS wraa,wx_article AS wa
		where wa.article_id = wraa.article_id 
		and	wraa.article_id=wraa.mutiarticle_id 
		and wraa.account_id=#{accountId}
		<if test="lowerLimit!=null and upperLimit != null">
			limit #{lowerLimit},#{upperLimit}
		</if>
	</select>

	<select id="findManyArticleCountByParam" parameterType="map"
		resultType="long">
		SELECT count(*)
		FROM
		wx_rel_article_account AS wraa,wx_article AS wa
		where wa.article_id = wraa.article_id
		and	wraa.article_id=wraa.mutiarticle_id 
		and wraa.account_id=#{accountId}
	</select>

</mapper>