@CHARSET "UTF-8";
body {background: url(../images/login-regist/regbj.jpg) no-repeat;background-size: 100% 100%;padding: 0px;}
html,body {height: 100%;margin: 0px;}
.title {margin-top: 40px;text-align: center;color: #FF6633;font-family: "Times New Roman", Times, serif;letter-spacing: 2px;}
.content {height: 180px;padding-top: 4px;padding-bottom: 4px;margin-left: 10px;margin-right: 10px;}
.contentlist {background-color: rgba(0, 0, 0, .55);-webkit-box-shadow: -1px 1px rgba(255, 255, 255, .13), inset -1px 1px1px rgba(0, 0, 1, .19);-moz-box-shadow: -1px 1px rgba(255, 255, 255, .13), inset -1px 1px 1pxrgba(0, 0, 1, .19);box-shadow: -1px 1px rgba(255, 255, 255, .13), inset -1px 1px 1px
rgba(0, 0, 1, .19);border-radius: 10px;border: 1px solid #666;padding-bottom: 10px;}
input {margin-top: 10px;background-color: transparent;border: hidden;color: #fff;font-size: 13px;}
.pwd{margin-top: 8px;}
.username {margin-left: 15px;margin-top: -7px;}
.login {margin-left: 10px;margin-right: 10px;margin-top: 30px;height: 40px;line-height: 40px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;background: rgba(32, 249, 245, .8);text-align: center;color: #fff;cursor: pointer;letter-spacing: 15px;}
.login1 {margin-left: 10px;margin-right: 10px;height: 40px;line-height: 40px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;background: rgba(107, 92, 255, .8);text-align: center;color: #fff;margin-top: 108px;cursor: pointer;letter-spacing: 15px;}
.rember {margin-left: 10%;/*float:right;*/}
.rember2{float: right;margin-top: -35px;margin-right: 10%;color: #093;}
.foot{display: block;margin: 0px auto;height: 20px;margin-bottom: 0px;margin-top: 30px;}