.container{
	margin:0;
	padding:0;
}

body{
	font-family: "微软雅黑";
	background-color: #ecefef;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding:0;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

a{
	list-style: none;
	color:#000;
}
a:hover{
	text-decoration: none;
	color:#000;
}


.productname{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    text-align: center;
    font-size: 14px;
    font-family:"微软雅黑","黑体","宋体";
    padding-right: 20px;
}
.productprice{
	color:#ff9900;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-right: 20px;
}

.index-main{padding: 8px;}	  
.index-search {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ff7171;
    border-radius: 4px;
    height: 34px;
    margin-top: 1px;
    overflow: hidden;
    position: relative;
}
.index-search-input {
    border: medium none;
    color: #ccc;
    font: 14px/20px "";
    height: 32px;
    left: 0;
    padding: 7px;
    position: absolute;
    top: 0;
    width: 250px;
 }
.index-search-btn {
    background: url("../../../images/vx_search.png") no-repeat scroll 0 0 / 36px 36px #ff7171;
    border: medium none;
    cursor: pointer;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
}


